.DNAred{
    display:inline;
    color:red;
}

.DNAblue{
    display:inline;
    color:blue;
}

.DNAgreen{
    display:inline;
    color:green;
}

.DNAorange{
    display:inline;
    color:orange;
}

.DNA{
    display:inline;
    color:black;
}